body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    color: white; 
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/metrou-back.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-color: #282c34; 
    filter: blur(4px); 
    z-index: -1;
}