
.images_next_to_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; /* Adjust width as needed */
    z-index: 100; /* Ensure it's above the background image */
}
.images_next_to_form .login-section {
    position: relative;
    width: 100%; /* Full width within the container */
}
.GOV {
    display: flex;
    justify-content: space-between; /* Space out the images evenly */
    width: auto; /* Adjust width as needed */
}

.image-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; /* Space between images */
}

.image-item img {
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0,0,0,0); /* Subtle shadow */
    transition: transform 0.3s; /* Smooth scaling effect */
}

/* Specific sizes for each image while maintaining aspect ratio */
.image-item.large img {
    max-width: 300px; /* Larger size for the first and third images */
    max-height: 300px; /* Larger size for the first and third images */
}

.image-item.small img {
    max-width: 70px; /* Smaller size for the second image */
    max-height: 70px; /* Smaller size for the second image */
}

.image-item img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
